
.img-1{
    width: 500px; height: 400px;
    position:absolute;left: 20px;top: 10px;
}

.img-2{
    width: 500px; height: 400px;
    position:absolute;left: 700px;top: 10px;
}

.img-3{
    width: 515px; height: 411px;
    position:absolute;left: 20px;top: 450px;
}
